
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Use a basic, widely-supported font */
    line-height: 1.6; /* A basic line-height for readability */
    color: #333; /* A basic text color that's not too harsh */
    background-color: #008080; /* A basic background color */
}
th{
    text-align:left;
    

}
h1{
    text-align:center;
}
body{
font-size: 15pt;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.footer{
    text-align: center;
    background-color: #333;
    color: white; 
    padding: 0.1px;
  }
